@include component(cheatsheet) {

  @include part(section) {
    margin-bottom: 20px;
  }

  @include part(title) {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    text-decoration: underline;
    padding-right: 40px;
    text-align: right;
  }

  @include part(group) {
    // text-align: right;
    padding-right: 20px;
  }

  @include part(item) {
    display: inline-block;
    color: #ccc
  }

  @include part(hotkey) {
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
  }
}
