* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

@include component(header) {
  background: #b9c8e7; /* Old browsers */
  background: -moz-linear-gradient(top,  #b9c8e7 0%, #98a6c1 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b9c8e7), color-stop(100%,#98a6c1)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #b9c8e7 0%,#98a6c1 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #b9c8e7 0%,#98a6c1 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #b9c8e7 0%,#98a6c1 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #b9c8e7 0%,#98a6c1 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b9c8e7', endColorstr='#98a6c1',GradientType=0 ); /* IE6-9 */
  text-align: center;
  padding: 2px 0;
}

@include component(container) {
  background-color: #e4e8ef;

  @include option(pictures) {
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.3) inset;
  }

  @include option(data) {
    height: 300px;
  }
}

@include component(tag) {
  background-color: #abbbd9;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  padding: 2px 10px;
  margin: 2px 0;
  margin-right: 10px;
  font-size: 12px;
  letter-spacing: 2px;
  display: inline-block;
  min-width: 20px;
  min-height: 12px;

  @include option(create) {
    background-color: #d8dde3;
    color: #9fa1a8;
    text-align: center;
    opacity: 0;
  }
}

.tag:hover {
  background-color: #8abcd9;
}

.tag.\--create:hover {
  background-color: #d8dde3;
  opacity: 1;
}

.tag.\--create:active {
  background-color: #d0d5db;
}
