@include component(data) {

  @include part(indice) {
    display: inline-block;
    background-color: #ccc;
    font-size: 12px;
    width: 40px;
    border-left: 1px solid;
    text-align: center;
  }
}

.data__indice:last-of-type {
  border-right: 1px solid;
}
