@include component(data) {

  @include part(indice) {
    display: inline-block;
    background-color: #ccc;
    font-size: 12px;
    width: 40px;
    border-left: 1px solid;
    text-align: center;
  }
}

.data__indice:last-of-type {
  border-right: 1px solid;
}

@include component(scalar) {

}

.scalar:hover,
.scalar.active {
  background: rgb(245, 245, 245);
  box-shadow: 0 0 20px 2px rgba(0,0,0,.3) inset;
}
